div.wprojects {
    @include w;
    @include spcenter;
    padding-bottom: 30px;
    background: $swh;
    @include respond(phone) {
        min-height: auto;
    }
    h3 {
        @include tcolor;
        &:hover {
            @include tcolorh;
        }
    }
    div.wproject_main {
        width: 90%;
        margin-top: 20px;
        @include pcenter;
        justify-content: space-evenly;
        @include respond(mtab) {
            width: 98%;
        }
        div.wbox {
            width: 20rem;
            height: 60vh;
            border-radius: 10px;
            @include spcenter;
            color: $wh;
            overflow: hidden;
            @include respond(phone) {
                height: 50vh;
                width: 60rem;
            }
            @include respond(lphone) {
                width: 40rem;
            }
            @include respond(tab) {
                width: 80%;
            }
            @include respond(mtab) {
                height: 45vh;
                width: 15rem;
            }
            @include respond(mlaptop) {
                height: 45vh;
                width: 15rem;
            }
            @include respond(llaptop) {
                height: 65vh;
                width: 20rem;
            }
            &:nth-child(1) {
                @include image("../images/Rectangle 4.png");
            }
            &:nth-child(2) {
                @include image("../images/Rectangle 5.png");
            }
            &:nth-child(3) {
                @include image("../images/lafurniture.png");
                background-size: 100%;
            }
            div.gone {
                p {
                    font-size: 25px;
                    @include respond(mlaptop) {
                        font-size: 20px;
                    }
                    @include respond(llaptop) {
                        font-size: 25px;
                    }
                }
                i {
                    font-size: 65px;
                    @include respond(mlaptop) {
                        font-size: 45px;
                    }
                    @include respond(laptop) {
                        font-size: 65px;
                    }
                }
                img {
                    width: 10vw;
                    height: 15vh;
                    @include respond(mlaptop) {
                        height: 10vh;
                    }
                    @include respond(laptop) {
                        height: 15vh;
                    }
                }
                @include respond(phone) {
                    visibility: hidden;
                }
                @include respond(mtab) {
                    visibility: hidden;
                }
                @include respond(mlaptop) {
                    visibility: visible;
                }
            }
            div.w_main {
                position: absolute;
                transition: all 0.3s ease;
                @include spcenter;
                visibility: hidden;
                width: 20vw;
                border-radius: 10px;
                z-index: 1;
                height: 60vh;
                padding-bottom: 120px;
                background-color: rgba(0, 0, 0, .6);
                h2 {
                    font-size: 25px;
                    @include respond(phone) {
                        font-size: 16px;
                    }
                    @include respond(mphone) {
                        font-size: 20px;
                    }
                    @include respond(mtab) {
                        font-size: 16px;
                    }
                    @include respond(llaptop) {
                        font-size: 20px;
                    }
                }
                img {
                    width: 6vw;
                    margin-bottom: 20px;
                    height: 10vh;
                    @include respond(phone) {
                        width: 30vw;
                        height: 8vh;
                    }
                    @include respond(phonex) {
                        height: 10vh;
                    }
                    @include respond(mphone) {
                        height: 12vh;
                    }
                    @include respond(lphone) {
                        width: 20vw;
                        height: 10vh;
                    }
                    @include respond(mtab) {
                        width: 12vw;
                        height: 8vh;
                    }
                    @include respond(mlaptop) {
                        width: 7vw;
                        height: 8vh;
                    }
                    @include respond(llaptop) {
                        width: 6vw;
                        height: 10vh;
                    }
                }
                &>i {
                    font-size: 40px;
                    line-height: 60px;
                    @include respond(phone) {
                        font-size: 30px;
                    }
                    @include respond(mphone) {
                        font-size: 40px;
                    }
                    @include respond(mtab) {
                        font-size: 30px;
                    }
                    @include respond(llaptop) {
                        font-size: 35px;
                    }
                }
                p {
                    text-align: center;
                    font-size: 22px;
                    width: 90%;
                    @include respond(phone) {
                        font-size: 15px;
                    }
                    @include respond(phonex) {
                        font-size: 18px;
                    }
                    @include respond(mtab) {
                        font-size: 15px;
                    }
                    @include respond(llaptop) {
                        font-size: 22px;
                    }
                }
                a {
                    @include arrow;
                    margin-top: 10px;
                    @include respond(phone) {
                        font-size: 15px;
                    }
                    @include respond(mtab) {
                        font-size: 15px;
                    }
                    @include respond(llaptop) {
                        font-size: 18px;
                    }
                }
                @include respond(phone) {
                    width: 90vw;
                    height: 50vh;
                    visibility: visible;
                    padding-bottom: 0px;
                }
                @include respond(tab) {
                    width: 72vw;
                }
                @include respond(mtab) {
                    width: 15rem;
                    height: 45vh;
                    visibility: visible;
                    padding-bottom: 0px;
                }
                @include respond(mlaptop) {
                    width: 15rem;
                    height: 45vh;
                    visibility: hidden;
                    padding-bottom: 120px;
                }
                @include respond(laptop) {
                    width: 20rem;
                    height: 65vh;
                }
            }
            &_2 {
                @include respond(phone) {
                    margin-top: 20px;
                }
                @include respond(mtab) {
                    margin-top: 0px;
                }
            }
            &_3 {
                @include respond(phone) {
                    margin-top: 20px;
                }
                @include respond(mtab) {
                    margin-top: 20px;
                }
                @include respond(tabx) {
                    margin-top: 0px;
                }
            }
            &:hover .w_main {
                visibility: visible;
                padding-bottom: 0px;
            }
            &:hover .gone {
                visibility: hidden;
            }
        }
    }
}

div.uiprojects {
    @include w;
    @include spcenter;
    justify-content: unset;
    background: rgba($wh, 0.7);
    padding-top: 20px;
    padding-bottom: 30px;
    h3 {
        @include tcolor;
        &:hover {
            @include tcolorh;
        }
    }
    div.uiprojects_main {
        width: 85%;
        margin-top: 30px;
        @include pcenter;
        justify-content: space-between;
        @include respond(tab) {
            justify-content: center;
        }
        @include respond(mtab) {
            width: 98%;
            justify-content: space-evenly;
        }
        @include respond(mlaptop) {
            width: 100%;
            justify-content: space-around;
        }
        div.project {
            width: 22vw;
            height: 60vh;
            @include respond(phone) {
                width: 85vw;
                @include mp;
                height: auto;
            }
            @include respond(lphone) {
                width: 70vw;
            }
            @include respond(mtab) {
                width: 40vw;
                height: auto;
            }
            @include respond(mlaptop) {
                width: 25vw;
                height: 60vh;
            }
            @include respond(laptop) {
                width: 25vw;
                height: 70vh;
            }
            @include respond(laptopx) {
                width: 26vw;
                height: 75vh;
            }
            &_2 {
                @include respond(phone) {
                    margin-top: 30px;
                }
            }
            &_3 {
                @include respond(phone) {
                    margin-top: 30px;
                }
                @include respond(mtab) {
                    margin-top: 30px;
                }
                @include respond(mlaptop) {
                    margin-top: 0px;
                }
            }
            div.side {
                width: 22vw;
                height: 60vh;
                position: absolute;
                transition: all .9s;
                backface-visibility: hidden;
                box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
                @include respond(phone) {
                    width: 85vw;
                    position: relative;
                    height: 40vh;
                }
                @include respond(phonex) {
                    height: 50vh;
                }
                @include respond(lphone) {
                    width: 80vw;
                }
                @include respond(tab) {
                    width: 70vw;
                }
                @include respond(mtab) {
                    width: 40vw;
                    position: relative;
                }
                @include respond(mlaptop) {
                    width: 30vw;
                    height: 60vh;
                    position: absolute;
                }
                @include respond(laptop) {
                    width: 30vw;
                    height: 70vh;
                }
                @include respond(laptopx) {
                    height: 75vh;
                    width: 26vw;
                }
                img {
                    width: 100%;
                    height: 45%;
                    clip-path: polygon(0 0, 100% 0, 100% 74%, 64% 86%, 0 100%, 0% 50%);
                    border-top-left-radius: 30px;
                    @include respond(phone) {
                        border-top-left-radius: 0px;
                        border-top-right-radius: 30px;
                    }
                    @include respond(mtab) {
                        border-top-left-radius: 0px;
                        border-top-right-radius: 30px;
                    }
                    @include respond(mlaptop) {
                        border-top-left-radius: 30px;
                        border-top-right-radius: 0px;
                    }
                }
                h4 {
                    position: absolute;
                    top: 28%;
                    right: 3%;
                    width: 50%;
                    height: 18%;
                    background-color: rgba(grey, 0.4);
                    @include pcenter;
                    color: $wh;
                    text-align: center;
                    font-size: 22px;
                    @include respond(phone) {
                        font-size: 15px;
                    }
                    @include respond(mtab) {
                        font-size: 16px;
                    }
                    @include respond(laptop) {
                        font-size: 22px;
                    }
                }
            }
            div.front {
                background: rgba($wh, 0.4);
                border-top-left-radius: 30px;
                border-bottom-right-radius: 30px;
                justify-content: unset;
                @include respond(phone) {
                    border-top-left-radius: 0px;
                    border-bottom-right-radius: 0px;
                    border-top-right-radius: 30px;
                }
                @include respond(mtab) {
                    border-top-left-radius: 0px;
                    border-bottom-right-radius: 0px;
                    border-top-right-radius: 30px;
                }
                @include respond(mlaptop) {
                    border-top-left-radius: 30px;
                    border-bottom-right-radius: 30px;
                    border-top-right-radius: 0px;
                }
                ul {
                    margin-top: 40px;
                    @include respond(phone) {
                        margin-top: 20px;
                    }
                    @include respond(mtab) {
                        margin-top: 15px;
                    }
                    @include respond(laptopx) {
                        margin-top: 20px;
                    }
                    li {
                        list-style-type: none;
                        line-height: 60px;
                        text-align: center;
                        font-size: 18px;
                        border-bottom: 1px solid rgba($bac, 0.1);
                        @include respond(phone) {
                            font-size: 10px;
                            line-height: 35px;
                        }
                        @include respond(phonex) {
                            font-size: 12px;
                            line-height: 45px;
                        }
                        @include respond(mtab) {
                            font-size: 13px;
                            line-height: 55px;
                        }
                        @include respond(laptop) {
                            font-size: 18px;
                            line-height: 65px;
                        }
                        @include respond(laptopx) {
                            font-size: 20px;
                            line-height: 70px;
                        }
                    }
                }
                &_2 {
                    h4 {
                        background-color: rgba($lblue, 0.4);
                    }
                }
            }
            div.back {
                background: blue;
                transform: rotateY(180deg);
                border-top-right-radius: 30px;
                border-bottom-left-radius: 30px;
                @include spcenter;
                justify-content: unset;
                padding-top: 100px;
                @include respond(phone) {
                    font-size: 11px;
                    line-height: 50px;
                    transform: rotateY(0deg);
                    border-top-right-radius: 0px;
                    height: 30vh;
                    padding-top: 20px;
                }
                @include respond(mtab) {
                    font-size: 11px;
                    line-height: 50px;
                    transform: rotateY(0deg);
                    border-top-right-radius: 0px;
                    height: 30vh;
                    padding-top: 20px;
                }
                @include respond(mlaptop) {
                    font-size: 11px;
                    line-height: 50px;
                    transform: rotateY(180deg);
                    border-top-right-radius: 30px;
                    height: 60vh;
                    padding-top: 20px;
                }
                @include respond(laptop) {
                    @include spcenter;
                    justify-content: unset;
                    height: 70vh;
                }
                @include respond(laptopx) {
                    height: 75vh;
                }
                h2 {
                    font-size: 30px;
                    color: rgba($bac, 0.7);
                    @include respond(phone) {
                        font-size: 20px;
                        text-align: center;
                    }
                    @include respond(mtab) {
                        font-size: 20px;
                        text-align: center;
                    }
                    @include respond(mlaptop) {
                        font-size: 25px;
                        text-align: center;
                    }
                    @include respond(llaptop) {
                        font-size: 30px;
                        text-align: right;
                    }
                }
                a {
                    margin-top: 260px;
                    background-color: rgba(grey, 0.1);
                    color: white;
                    padding: 10px 35px;
                    font-size: 20px;
                    border-radius: 10px;
                    text-decoration: none;
                    &:hover {
                        box-shadow: 0rem 0.5rem 1.5rem rgba($bac, 0.2);
                    }
                    &:active {
                        box-shadow: none;
                    }
                    @include respond(phone) {
                        @include mp;
                        padding: 0px 15px 0px 15px;
                        margin-top: 50px;
                        font-size: 15px;
                        box-shadow: 0rem 0.5rem 1.5rem rgba($bac, 0.2);
                    }
                    @include respond(mtab) {
                        @include mp;
                        padding: 0px 15px 0px 15px;
                        margin-top: 50px;
                        font-size: 15px;
                        box-shadow: 0rem 0.5rem 1.5rem rgba($bac, 0.2);
                    }
                    @include respond(mlaptop) {
                        @include mp;
                        padding: 0px 15px 0px 15px;
                        margin-top: 90%;
                        font-size: 15px;
                        box-shadow: none;
                    }
                    @include respond(laptop) {
                        padding: 0px 22px 0px 22px;
                        font-size: 20px;
                    }
                }
                &_1,
                &_3 {
                    background: linear-gradient(to bottom right, rgba($bac, 0.1), rgba($bac, 0.2), rgba($bac, 0.3));
                }
                &_2 {
                    background: linear-gradient(to bottom right, rgba($lblue, 0.2), rgba($lblue, 0.4), rgba($lblue, 0.6));
                }
            }
            &:hover .front {
                transform: rotateY(-180deg);
                @include respond(phone) {
                    transform: rotateY(0deg);
                }
                @include respond(mtab) {
                    transform: rotateY(0deg);
                }
                @include respond(mlaptop) {
                    transform: rotateY(-180deg);
                }
            }
            &:hover .back {
                transform: rotateY(0);
            }
        }
    }
}